<a href="https://colab.research.google.com/github/marayyy/Qure.ai/blob/Guvi/Qure_ai_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Automated COVID-19 Deaths Summary to Slack

Submitted by:

Raj kumar.s

To solve the assignment, I used the following steps using Python:

1. Connected to the COVID-19 dataset.
2. Retrieved the monthly trend data for the number of COVID-19 deaths.
3. Identified the top 3 states with the highest number of COVID-19 deaths for each month.
4. Calculated the percentage of total US deaths for each state.
5. Formated the data into a message.
6. Send the message to Slack at a fixed interval for the months of March, April, May, and June.

# Step 1: Install the required libraries

In [ ]:
pip install slack_sdk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: slack_sdk in /usr/local/lib/python3.10/dist-packages (3.21.3)

# Step 2: Import the necessary libraries

In [ ]:
import pandas as pd
import requests
from slack_sdk import WebClient
from slack_sdk.webhook import WebhookClient
import os
from datetime import datetime
import time

# Step 3: Load the dataset using pandas

In [ ]:
dataset_url = "https://docs.google.com/spreadsheets/d/151MH__gF1AsegymN3s-1qKpPu_7OxEsY/export?format=xlsx"
df = pd.read_excel(dataset_url)

In [ ]:
df

      Unnamed: 0       date          state  fips  cases  deaths
0              0 2020-01-21     Washington    53      1       0
1              1 2020-01-22     Washington    53      1       0
2              2 2020-01-23     Washington    53      1       0
3              3 2020-01-24       Illinois    17      1       0
4              4 2020-01-24     Washington    53      1       0
...          ...        ...            ...   ...    ...     ...
8149        8149 2020-07-28       Virginia    51  86994    2095
8150        8150 2020-07-28     Washington    53  56576    1633
8151        8151 2020-07-28  West Virginia    54   6173     111
8152        8152 2020-07-28      Wisconsin    55  54114     916
8153        8153 2020-07-28        Wyoming    56   2589      26

[8154 rows x 6 columns]

# Step 4: Extract monthly trend data for COVID-19 deaths

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df['Month'] = df['date'].dt.month
df['Year'] = df['date'].dt.year

# Filter data for the months of March, April, May, and June
selected_months = [3, 4, 5, 6]
monthly_deaths = df[df['Month'].isin(selected_months)]

# Step 5: Calculate the top 3 states with the highest number of COVID-19 deaths for each month

In [ ]:
top_states = []
for month in selected_months:
    monthly_data = monthly_deaths[monthly_deaths['Month'] == month]
    top_states_month = monthly_data.groupby('state')['deaths'].sum().nlargest(3)
    top_states.append(top_states_month)

# Step 6: Calculate the percentage of total US deaths for each state

In [ ]:
us_total_deaths = df[df['Year'] == 2023]['deaths'].sum()

percentage_deaths = []
for top_states_month in top_states:
    percentage_deaths_month = (top_states_month / us_total_deaths) * 100
    percentage_deaths.append(percentage_deaths_month)

# Step 7: Format the data into a message and send it to Slack

In [ ]:
webhook_url = "https://hooks.slack.com/services/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"
webhook = WebhookClient(webhook_url)

months_names = ['March', 'April', 'May', 'June']

for i, month_name in enumerate(months_names):
    message = f"Dataset Name: covid-19-state-level-data\n\n"
    message += f"Top 3 states with the highest number of COVID-19 deaths for the month of {month_name}:\n"
    message += f"Month - {month_name}\n"

    for j, (state, deaths) in enumerate(top_states[i].items()):
        percentage = percentage_deaths[i][j]
        message += f"State #{j+1} - {state} ({deaths}), {percentage:.2f}% of total US deaths\n"

    webhook.send(text=message)

# Learning from Challenges and Aspiring to Excel as a Data Engineer Intern at Qure.ai
Note: During the execution of the code, I attempted to send messages using a Telegram bot as an alternative mechanism. However, I encountered some difficulties in the process, and the message delivery failed. As an aspiring Data Engineer intern, I acknowledge the importance of learning from experienced professionals at Qure.ai to gain insights and guidance on overcoming such challenges. I am enthusiastic about refining my skills and improving my understanding of data engineering practices to contribute effectively to the company's data architecture and pipelines.

In [2]:
!pip install python-telegram-bot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-telegram-bot in /usr/local/lib/python3.10/dist-packages (20.3)
Requirement already satisfied: httpx~=0.24.0 in /usr/local/lib/python3.10/dist-packages (from python-telegram-bot) (0.24.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx~=0.24.0->python-telegram-bot) (2022.12.7)
Requirement already satisfied: httpcore<0.18.0,>=0.15.0 in /usr/local/lib/python3.10/dist-packages (from httpx~=0.24.0->python-telegram-bot) (0.17.1)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from httpx~=0.24.0->python-telegram-bot) (3.4)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from httpx~=0.24.0->python-telegram-bot) (1.3.0)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx~=0.24.0->python-telegram-bot) (0.14.0)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from httpcore<0.18.0,>=0.15.0->httpx~=0.24.0->python-telegram-bot) (3.6.2)

In [8]:
import pandas as pd
import logging
from telegram import Bot
from telegram.error import TelegramError

In [11]:
dataset_url = "https://docs.google.com/spreadsheets/d/151MH__gF1AsegymN3s-1qKpPu_7OxEsY/export?format=xlsx"
df = pd.read_excel(dataset_url)

In [16]:
df

,Unnamed: 0,date,state,fips,cases,deaths,Date,Month,Year
0,0,2020-01-21,Washington,53,1,0,2020-01-21,1,2020
1,1,2020-01-22,Washington,53,1,0,2020-01-22,1,2020
2,2,2020-01-23,Washington,53,1,0,2020-01-23,1,2020
3,3,2020-01-24,Illinois,17,1,0,2020-01-24,1,2020
4,4,2020-01-24,Washington,53,1,0,2020-01-24,1,2020
...,...,...,...,...,...,...,...,...,...
8149,8149,2020-07-28,Virginia,51,86994,2095,2020-07-28,7,2020
8150,8150,2020-07-28,Washington,53,56576,1633,2020-07-28,7,2020
8151,8151,2020-07-28,West Virginia,54,6173,111,2020-07-28,7,2020
8152,8152,2020-07-28,Wisconsin,55,54114,916,2020-07-28,7,2020
8153,8153,2020-07-28,Wyoming,56,2589,26,2020-07-28,7,2020

In [13]:
df['Date'] = pd.to_datetime(df['date'])
df['Month'] = df['date'].dt.month
df['Year'] = df['date'].dt.year

# Filter data for the months of March, April, May, and June
selected_months = [3, 4, 5, 6]
monthly_deaths = df[df['Month'].isin(selected_months)]

In [17]:
top_states = []
for month in selected_months:
    monthly_data = monthly_deaths[monthly_deaths['Month'] == month]
    top_states_month = monthly_data.groupby('state')['deaths'].sum().nlargest(3)
    top_states.append(top_states_month)

In [19]:
us_total_deaths = df[df['Year'] == 2023]['deaths'].sum()

percentage_deaths = []
for top_states_month in top_states:
    percentage_deaths_month = (top_states_month / us_total_deaths) * 100
    percentage_deaths.append(percentage_deaths_month)

In [39]:
telegram_token = "6152019402:AAF_Tzz-FTy0pUVmaAWvPqYhM2XNfFNbkDo"
telegram_chat_id = "954067324"

bot = Bot(token=telegram_token)

months_names = ['March', 'April', 'May', 'June']

for i, month_name in enumerate(months_names):
    message = f"Dataset Name: covid-19-state-level-data\n\n"
    message += f"Top 3 states with the highest number of COVID-19 deaths for the month of {month_name}:\n"
    message += f"Month - {month_name}\n"

    for j, (state, deaths) in enumerate(top_states[i].items()):
        percentage = percentage_deaths[i][j]
        message += f"State #{j+1} - {state} ({deaths}), {percentage:.2f}% of total US deaths\n"

    try:
        bot.send_message(chat_id=telegram_chat_id, text=message)
    except TelegramError as e:
        logging.error(f"Failed to send message to Telegram. Error: {str(e)}")

<ipython-input-39-4b1a64c95d62>:18: RuntimeWarning: coroutine 'Bot.send_message' was never awaited
  bot.send_message(chat_id=telegram_chat_id, text=message)
RuntimeWarning: Enable tracemalloc to get the object allocation traceback